@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --purple: #57068c;
  --teal: #008ba9;
  --background: #fcf8ff;


  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}



body {

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c2dfff' fill-opacity='0.3' fill-rule='evenodd'%3E%3Ccircle cx='11' cy='27' r='2'/%3E%3Ccircle cx='42' cy='15' r='2'/%3E%3Ccircle cx='73' cy='61' r='2'/%3E%3Ccircle cx='22' cy='82' r='2'/%3E%3Ccircle cx='59' cy='38' r='2'/%3E%3Ccircle cx='84' cy='7' r='2'/%3E%3Ccircle cx='33' cy='54' r='2'/%3E%3Ccircle cx='5' cy='72' r='2'/%3E%3Ccircle cx='67' cy='88' r='2'/%3E%3Ccircle cx='91' cy='32' r='2'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 300px 300px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}